<div class="contents1">
    <article>
      <h1>見出し１</h1>
            <ul>
                <div class="contents1-2">
                <li class="col-sm-6 col-md-3 col-xs-3">contents1</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents2</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents3</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents4</li>
                 </div>
            </ul>
       
    </article>
</div>
<br>
<div class="contents2">
    <article>
      <h1>見出し２</h1>
            <ul>
                <div class="contents2-2">
                <li class="col-sm-6 col-md-3 col-xs-3">contents1</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents2</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents3</li>
                <li class="col-sm-6 col-md-3 col-xs-3">contents4</li>
                </div>
            </ul>
    </article>
</div>


<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Test</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>


<button type="button" class="btn btn-default navbar-btn">Test</button>