// Place all the styles related to the webpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contents1 {
		background-color: #CCCC99;
}

.contents1-2 {
		background-color: #CCCB99;
}

.contents2 {
		background-color: #CCCB99;
}

.contents2-2 {
		background-color: #CCCB99;
}

.col-sm-6 col-md-3 col-xs-3 {
	background: #ccc;
}